Builds/*/build
Builds/*/*.log
Builds/MacOSX/HEELP.xcodeproj/project.xcworkspace/xcuserdata
Builds/MacOSX/HEELP.xcodeproj/xcuserdata
/Builds/VisualStudio2015/Debug
/Builds/VisualStudio2015/.vs/HEELP/v14
/Builds/VisualStudio2015/HEELP.VC.db
/Builds/VisualStudio2015/HEELP.VC.VC.opendb
/Builds/VisualStudio2015/Release
/Add_Steinberg_SDKs_here/ASIOSDK2.3
/Add_Steinberg_SDKs_here/VST3 SDK
/Add_Steinberg_SDKs_here/VSTModuleArchitectureSDK
/Builds/VisualStudio2015/x64/Release
/Builds/VisualStudio2015/x64/Debug
/Builds/VisualStudio2015/HEELP.vcxproj.user
